/* TO DO STILL:
ADD TRANSITION TO INTERACTIVE BUTTONS
CLEANUP AND OPTIMIZE FOR MOBILE FORMATTING
*/
* {
    box-sizing: border-box;
}
/* Elements */
body {
    background-color: #EEEEEE;
    background-attachment: fixed;
    color: #484444;
    font-family: 'Dosis', sans-serif;
    font-family: 'Exo', sans-serif;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

header { 
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 2;
    font-family: Exo, sans-serif;
    color: #000000;
}

header h1 {
    display: flex;
    height: 2em;
    align-items: center;
    margin: 0px;
}

/* LOGO ON LEFT SIDE OF MENU BAR */
h1 a {
    font-weight: 300;
    font-size: 32px;
    padding-left: 1em;
}

/* CONTAINER FOR UL */
nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 2;
}

ul, li {
    margin: 0px;
    padding: 0px;
}

/* HOLDS NAVIGATION MENU */
ul {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* NAVIGATION MENU ITEMS */
li {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    font-family: Dosis, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}

li a {
    display: inline-block;     
    position: relative;
    padding: .5em;    
    z-index: 1;
}

a:link, a:visited {
    text-decoration: none;
    color: #000000;
}

li a:hover {
    background-color: #58585879;
}

main {
    grid-column: 2 / 11;
}

footer {
    grid-row: 12;
    grid-column: 6 / 8;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}

/* Id's */

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(10, minmax(0, 96px)) minmax(0px, 1fr);
}

/* BACKGROUND FOR THE MENU BAR AT TOP */
#menubar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: rgba(229, 229, 229, 0.58);
    z-index: 1;
}

/* THIS ALLOWS HERO AND TITLE BOX TO STACK.... I THINK */
#homehero, #titlebox{
    grid-row: 1 / 7;
}

/* HERO IMAGE */
#homehero {
    height: 750px;
    grid-column: 1 / -1;
    grid-row: 1 / 7;
    background-image: url("homehero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* TITLE BOX THAT GOES OVER HERO IMAGE*/
#titlebox{
    height: auto;
    grid-row: 3 / 5;
    grid-column: 2 / 7;
    z-index: 1;
    background-color: rgba(229, 229, 229, 0.58);
}

#titlebox h1, h2{
    padding: 20px;
    margin: 0px;
    color: black;
    text-align: center;
}

#titlebox h1 {
    font-family: Lato, sans-serif;
    font-weight: 800;
    font-size: 95px;
    padding-bottom: 0px;
    text-shadow: rgba(0, 0, 0, 0.46) 1px 1px;
}

#titlebox h2 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 32px;
}

/* CONTAINER FOR INTERACTIVE ITEMS */
#interactivebuttons{
    flex-direction: row;
    grid-column: 2 / 12;
    grid-row: 6 / span 2;
    height: 276px;
    margin: 0px;
}

#interactivebuttons p{
    font-family: Exo, sans-serif;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

#interactivebuttons h2{
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

#comprehensive, #personalized, #targeted {
    float:left
}
/* COMPREHENSIVE SECTION*/
#comprehensive{
    background-color: #d63a26;
    border-radius: 10px 0 0 10px;
    height: 276px;
    width: 320px;
    margin: 0px;
    position: relative;
    transition: background-color .5s ease-out;
}

#comprehensive:hover, #personalized:hover, #targeted:hover {
    background: #dd6b5c;
}

#layoutgraphic{
    background-image: url("layoutgraphic.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 78.2px;
    margin-top: 17px;
}

/* PERSONALIZED SECTION */
#personalized{
    background-color: #d63a26;
    height: 276px;
    width: 320px;
    margin: 0px;
    position: relative;
    transition: background-color .5s ease-in-out;
}

#persongraphic{
    background-image: url("persongraphic.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 78.2px;
    margin-top: 17px;
}

/* TARGETED CONTAINER */
#targeted {
    background-color: #d63a26;
    border-radius: 0px 10px 10px 0px;
    height: 276px;
    width: 320px;
    margin: 0px;
    position: relative;
    transition: background-color .5s ease-out;
}

#targetgraphic{
    background-image: url("targetgraphic.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 78.2px;
    margin-top: 17px;
}

/* CONTAINER FOR INFORMATIONAL TEXT ABOUT THE COMPANY AND SERVICES */
#whatweoffer {
    grid-column: 2 / 7;
    grid-row: 9;
    margin-top: 100px;
    text-align: right;
    color: #000000;
    font-family: Lato, sans-serif;
}

#whatweoffer p{
    color: #000000;
    font-weight: 400;
}

#whatweoffer h3{
    color: #D63A26;
    font-family: Dosis, sans-serif;
    font-weight: 700;
}

#whatweoffer h1{
    font-weight: 700;
    margin-top: 0px;
}
/* SEO INFOGRAPGIC MEDIA QUERY*/
#seographic {
    grid-column: 8 / 12;
    grid-row: 9;
    margin-top: 100px;
    background-color: #FFFFFF;
    background-image: url("imageonline-co-linechart.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* CONTAINTER FOR INQUIRY LINK */
#inquirybutton {
    grid-column: 5 / 9;
    grid-row: 10 / 11;
    background-color: #f24535;
    border-radius: 10px;
    height: 75px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#inquirybutton a{
    color: #FFFFFF;
    font-family: Exo, sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin: -2em;
    border-radius: 10px;
}

#inquirybutton a:hover {
    background-color: #dd6b5c;
    border-radius: 10px;
}

/*CLASSES*/

.clear {
    clear: both;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

/* FOR LINK IN THE NAV MENU */
.freeinquiry{
    font-weight: 800;
    font-size: 28px;
    color: #d63a26;
}

.freeinquiry a:link{
    color: #d63a26;
}